// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Supports Symphony evaluation board versions >= 1.4a.
 *
 * Copyright 2019-2020 Variscite Ltd.
 * Copyright (C) 2020 Krzysztof Kozlowski <krzk@kernel.org>
 */

/dts-v1/;

#include <dt-bindings/usb/pd.h>
#include "imx8mn-var-som.dtsi"

/ {
	model = "Variscite VAR-SOM-MX8MN Meticulous FIKA board";
	compatible = "meticulous,fika-var-mx8mn", "variscite,var-som-mx8mn-meticulous", "variscite,var-som-mx8mn", "fsl,imx8mn";

	reg_usdhc2_vmmc: regulator-usdhc2-vmmc {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_usdhc2_vmmc>;
		regulator-name = "VSD_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio4 22 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	/* Peripherals supply, enabled by Q2 after SOM_3V3 rises. */
	reg_per_3v3: regulator-peripheral-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "per_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm2 0 500000 0>;
		brightness-levels = <0 100>;
		num-interpolated-steps = <100>;
		default-brightness-level = <99>;
		status = "okay";
	};
};

&ethphy {
	status = "disabled";
};

&i2c2 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	status = "okay";

	pca9534: gpio@20 {
		compatible = "nxp,pca9534";
		reg = <0x20>;
		gpio-controller;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pca9534>;
		interrupt-parent = <&gpio1>;
		interrupts = <7 IRQ_TYPE_EDGE_FALLING>;
		#gpio-cells = <2>;
		wakeup-source;
		vcc-supply = <&reg_per_3v3>;

		/* USB 3.0 OTG (usbotg1) / SATA port switch, set to USB 3.0 */
		usb3-sata-sel-hog {
			gpio-hog;
			gpios = <4 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "usb3_sata_sel";
		};

		som-vselect-hog {
			gpio-hog;
			gpios = <6 GPIO_ACTIVE_HIGH>;
			output-low;
			line-name = "som_vselect";
		};
	};

	// We have the ID pin connected, not the IRQ pin as some older symphony boards
	extcon_usbotg1: typec@3d {
		compatible = "nxp,ptn5150";
		reg = <0x3d>;
		interrupt-parent = <&gpio1>;
		interrupts = <11 IRQ_TYPE_EDGE_FALLING>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ptn5150>;

		port {
			typec1_dr_sw: endpoint {
				remote-endpoint = <&usb1_drd_sw>;
			};
		};
	};

	rtc@68 {
		compatible = "dallas,ds1337";
		reg = <0x68>;
	};
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart3 {
	status = "disabled";
};

&usbotg1 {
	dr_mode = "otg";
	hnp-disable;
	srp-disable;
	adp-disable;
	usb-role-switch;
	disable-over-current;
	samsung,picophy-pre-emp-curr-control = <3>;
	samsung,picophy-dc-vol-level-adjust = <7>;
	status = "okay";

	port {
		usb1_drd_sw: endpoint {
			remote-endpoint = <&typec1_dr_sw>;
		};
	};
};

&iomuxc {
	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX8MN_IOMUXC_I2C2_SCL_I2C2_SCL		0x400001c3
			MX8MN_IOMUXC_I2C2_SDA_I2C2_SDA		0x400001c3
		>;
	};

	pinctrl_pca9534: pca9534grp {
		fsl,pins = <
			MX8MN_IOMUXC_GPIO1_IO07_GPIO1_IO7	0x16
		>;
	};

	pinctrl_ptn5150: ptn5150grp {
		fsl,pins = <
			MX8MN_IOMUXC_GPIO1_IO11_GPIO1_IO11	0x16
		>;
	};

	pinctrl_reg_usdhc2_vmmc: regusdhc2vmmcgrp {
		fsl,pins = <
			MX8MN_IOMUXC_SAI2_RXC_GPIO4_IO22	0x41
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX8MN_IOMUXC_UART1_RXD_UART1_DCE_RX	0x140
			MX8MN_IOMUXC_UART1_TXD_UART1_DCE_TX	0x140
		>;
	};

	pinctrl_mipi_dsi_rst: mipi_dsi_rst {
		fsl,pins = <
			MX8MN_IOMUXC_I2C4_SDA_GPIO5_IO21		0x41
		>;
	};


	pinctrl_mipi_dsi_bl_pwm2: mipi_dsi_bl_pwm2 {
		fsl,pins = <
			MX8MN_IOMUXC_I2C4_SCL_PWM2_OUT		0x6
		>;
	};

	pinctrl_gpio5_io26: gpio526grp {
		fsl,pins = <
			MX8MN_IOMUXC_UART3_RXD_GPIO5_IO26		0x61
		>;
	};
};

&fec1 {
	status = "disabled";
};

&lcdif {
	assigned-clocks = <&clk IMX8MN_VIDEO_PLL1>;
	assigned-clock-rates = <594000000>;
	status = "okay";
};

&gpu {
	status = "okay";
};

&pgc_dispmix {
	assigned-clocks = <&clk IMX8MN_CLK_DISP_AXI>, <&clk IMX8MN_CLK_DISP_APB>;
	assigned-clock-parents = <&clk IMX8MN_SYS_PLL2_1000M>, <&clk IMX8MN_SYS_PLL1_800M>;
	assigned-clock-rates = <500000000>, <200000000>;
};

&mipi_dsi {
	#address-cells = <1>;
	#size-cells = <0>;
	samsung,esc-clock-frequency = <20000000>;

	status = "okay";
	
	panel@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "kingway,hw-021p0z002-01", "sitronix,st7701";
		reg = <0>;
		reset-gpios = <&gpio5 21 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_mipi_dsi_rst>;
		backlight = <&backlight>;

		port@0 {
			reg = <0>;
			panel_in_dsi: endpoint {
				remote-endpoint = <&mipi_dsi_out>;
			};
		};
	};

	ports {
		port@1 {
			reg = <1>;

			mipi_dsi_out: endpoint {
				remote-endpoint = <&panel_in_dsi>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
			};
		};
	};
};

// PWM for backlight
&pwm2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mipi_dsi_bl_pwm2>;
};

&ecspi1  {
	touchscreen@0 {
		status = "disabled";
	};
};